
#registracija{
    display: grid;
    margin-top: 10%;
    margin-left: 65%;
}
#login{
    text-decoration: none;
    color:rgba(229,228,232,255);
    width: 45%;
    text-align: center;
   
}